.specialsTitle {
    margin-bottom: 33px;
    color: #181818;
    font-family: Arimo;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 93.523%; /* 74.818px */
    letter-spacing: -3.2px;
}
